# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
# .env
# .env.*
# !.env.example


# xml datas
# data/*


#zip files
*.zip

#nuxt pwa
sw.*



#add a few other lines here